<mat-toolbar color="primary">
    <mat-toolbar-row>
        <ng-content></ng-content>
        <section class="top-button-section">
            <button mat-icon-button>
                <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>mark_chat_unread</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>notifications_active</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>account_circle</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>help</mat-icon>
            </button>
        </section>
    </mat-toolbar-row>
</mat-toolbar>
