<mat-sidenav-container class="sidenav-container">

    <mat-sidenav #drawer class="sidenav" fixedInViewport
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="(isHandset$ | async) === false">
        <mat-nav-list dense>
            <!-- side menu list items-->
            <app-vertical-nav *ngFor="let navItem of menu" [navItem]="navItem"></app-vertical-nav>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- header -->
        <app-header>
            <button
                    type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>F-Angular</span>
        </app-header>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
